@model Photogram.Models.Category

@{
    ViewBag.Title = "category details";
}

<h2>category details</h2>

<div>
        @Html.ActionLink("back", "Index", null, new { @class = "btn btn-primary btn-large" })
    <hr />
    <dl class="dl-horizontal">


        <dd>
            <img src="~/CategoriesPhoto/@Model.ImageCategory" alt="Zdj" height="200" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <br />
        <div class="row">
            @foreach (var item in Model.Photographies)
            {
                <div class="col-md-4">
                    <div class="col-md-4">
                        <img src="~/PhotographyPhoto/@item.ImagePhoto" alt="Zdjęcie" height="200" width="200" />
                        <br />
                        @Html.DisplayFor(modelItem => item.Category.Name)
                        @Html.DisplayFor(modelItem => item.Name)<br />

                    </div>
                </div>
            }

        </div>
    </dl>

</div>
