@model Photogram.Models.Gallery

@{
    ViewBag.Title = "Delete";
}

<h2>delete gallery</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/GalleryPhoto/@Model.ImageGallery" alt="Zdj" height="200" width="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="delete" class="btn btn-primary btn-large" /> 
    @Html.ActionLink("back", "Index", null, new { @class = "btn btn-primary btn-large" })
</div>
    }
</div>
